<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salishBlog.business.mapper.TPwdMapper">

    <resultMap type="com.salishBlog.business.domain.TPwd" id="TPwdResult">
        <result property="id" column="id"/>
        <result property="keyName" column="key_name"/>
        <result property="keyValue" column="key_value"/>
        <result property="otherKeys" column="otherKeys"/>
    </resultMap>


</mapper>
